<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let manga of mangas">
      <mat-card class="mat-elevation-z4" *ngIf="manga.bookmarked">
        <mat-card-header>
          <mat-card-title >{{ manga.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ manga.preview }}">
        <mat-card-actions>
          <button mat-button routerLink="/manga/{{manga.routeName}}">Leggi</button>
          <button mat-button (click)="bookmarkManga(manga)">
          <i class="fa fa-bookmark fa-lg"></i>
          </button> 
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>