<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Manga Reader</h1>
    <span class="menu-spacer"></span>
    <div>
      <!-- <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/bookmarked'"> Bookmarked </a>
      <a mat-button [routerLink]="'/main-page'"> Home </a>
      <a mat-button [routerLink]="'/social'"> Social </a> -->
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Just a simple manga reader</span>
    </mat-toolbar-row>
</mat-toolbar>