<div class=" nav-wrapper w-full bg-[#483b85]  fixed z-50">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16 noselect">
      <!--Left side-->
      <div class="cc flex-1 flex items-center display: none; sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <img routerLink="/home" class="cursor-pointer block lg:hidden h-10 w-12"
            src="https://i.ibb.co/8cdXW2C/corvo2.png"
            alt="Workflow">
          <img routerLink="/home" class="cursor-pointer  hidden lg:block h-10 w-12"
            src="https://i.ibb.co/8cdXW2C/corvo2.png"
            alt="Workflow">
        </div>
        <div class="hidden sm:block sm:ml-4">
          <div class="items flex space-x-4">
            <nav class="w-[600px] h-[60px] flex text-center relative bg-transparent">
              <input type="radio" name="a" id="a1" checked="checked">
              <input type="radio" name="a" id="a2">
              <input type="radio" name="a" id="a3">
              <input type="radio" name="a" id="a4">
              <div class="slider absolute h-[70%] w-[18%] bg-[#8e44ad] left-[5] top-[9] rounded-[5px] z-[1] "></div>
              <label routerLink="/home" class="a1 w-[18%] h-[70%] top-[9] pt-[5.5px] text-lg font-normal rounded-[5px] mr-[5px] ml-[5px] relative z-[1] cursor-pointer hover:bg-[#8e44ad4d]" for="a1">
              <span class="mr-1 text-white">Home</span>
              </label>
              <label routerLink="/bookmarked" class="a2 w-[18%] h-[70%] top-[9] pt-[5.5px] text-lg font-normal rounded-[5px] mr-[5px] ml-[5px] relative z-[1] cursor-pointer hover:bg-[#8e44ad4d]" for="a2">
                <span class="bookmarked mr-1 text-white">Bookmarked</span>
              </label>
              <label routerLink="/manga-genres" class="a3 w-[18%] h-[70%] top-[9] pt-[5.5px] text-lg font-normal rounded-[5px] mr-[5px] ml-[5px] relative z-[1] cursor-pointer hover:bg-[#8e44ad4d]" for="a3">
                <span class="mr-1 text-white">Generi</span>
              </label>
              <label class="a4 w-[18%] h-[70%] top-[9] pt-[5.5px] text-lg font-normal rounded-[5px] mr-[5px] ml-[5px] relative z-[1] cursor-pointer hover:bg-[#8e44ad4d]" for="a4">
                <span class="mr-1 text-white">Archivio</span>
              </label>
            </nav>
          </div>
        </div>
      </div>
      <!--End left side-->

      <!--Right side-->
      <div class="absolute inset-y-0 right-0 flex items-center pr-1 sm:static sm:inset-auto sm:ml-4 sm:pr-0">
        <button type="button"
          class="background-color: #111827 p-1 pt-2 rounded-full text-gray-400 hover:text-white focus:outline-none ">
          <i class="material-icons">search</i>
        </button>
        <button id="mobile" type="button"
          class="background-color: #111827 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none ">
          <span class="sr-only">View notifications</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </button>

        <!-- Profile dropdown -->
        <div id="mobile" class="ml-3 relative">
          <div (click)="toggleProfile()">
            <button type="button"
              class="profile bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 "
              id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://i.ibb.co/kqPR2Xp/profile.png" alt="">
            </button>
          </div>

          <div
            class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
            role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
            [@animation4]="profile">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
              id="user-menu-item-0">Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
              id="user-menu-item-1">Settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
              id="user-menu-item-2">Sign out</a>
          </div>

        </div>
      </div>
      <!--End right side-->

    </div>
  </div>
</div>