@import "../../../styles.scss";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

::-webkit-scrollbar{
  width: 0px;
}

.scroll-to-top {
  position: fixed;
  background:red;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.container-description {
  background: $body_color;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.box {
  background: linear-gradient(180deg, #000 0, rgba(220, 9, 20, 0));
  color: white;
  height: 120px;
}
.box-chapters {
  display: none;
  background: linear-gradient(
    180deg,
    #000,
    rgba(0, 0, 0, 0.5) 100%,
    transparent
  );
  width: 450px !important;
  height: 100%;
}
.chapter {
  background-color: $secondary_color;
  color: white;
  background: rgba(0, 0, 0, 0.603);
  width: 145px;
  height: 35px;
  border-radius: 7px;
  padding-left: 7px;
  padding-right: 5px;
  margin-left: 20px;
  cursor: pointer;
}
.chapter:hover {
  color: $secondary_color;
}
.chapter-box {
  color: $secondary_color;
}
.arrow {
  width: 35px;
  height: 35px;
  background-color: $secondary_color;
  color: white;
  background: rgba(0, 0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    $secondary_color 100%
  );
  border-radius: 100px;
}
.arrow-top{
  position: fixed;
  background-color:red;
  width: 35px;
  height: 35px;
  color: white;
  border-radius: 100px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  .arrow-top-fixed & {
    position: fixed;
    bottom: 150px;
  }
}
.box-chapters::-webkit-scrollbar {
  display: none;
}

.chapter-box,.chapter-box2 {
    font-size: 18px;
    letter-spacing: -.1px;
    height: 52px;
    display: flex;
    justify-content: center;
    line-height: 52px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    list-style: none;
}
.choice:hover {
  color: $secondary_color;
}
@media (max-width:768px) {
  .box-chapters {
    width: 100% !important;
  }
}
@media (max-width: 535px) {
  .title {
    width: 300px !important;
  }
}
@media (max-width: 410px) {
  .title {
    width: 200px !important;
  }
}
