@import "../../../styles.scss";

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.phone_bottom {
  border-top: solid 3px rgba(255, 255, 255, 0.2);
}

.indicator {
  background-image: linear-gradient(0deg, $body-color, rgba(183, 255, 154, 0)),
    linear-gradient(0deg, $body-color, rgba(183, 255, 154, 0)),
    linear-gradient(0deg, #3a3a35, rgba(183, 255, 154, 0));
  filter: blur(2px);
}

#s1:checked ~ [for="s1"] > i,
#s2:checked ~ [for="s2"] > i,
#s3:checked ~ [for="s3"] > i,
#s4:checked ~ [for="s4"] > i,
#s5:checked ~ [for="s5"] > i {
  top: -30px;
  font-size: x-large;
}
#s1:checked ~ [for="s1"] > span,
#s2:checked ~ [for="s2"] > span,
#s3:checked ~ [for="s3"] > span,
#s4:checked ~ [for="s4"] > span,
#s5:checked ~ [for="s5"] > span {
  bottom: 12;
  font-size: large;
}
#s1:checked ~ .circle,
#s1:checked ~ div div .indicator {
  left: -80%;
}
#s2:checked ~ .circle,
#s2:checked ~ div div .indicator {
  left: -40%;
}
#s3:checked ~ .circle,
#s3:checked ~ div div .indicator {
  left: 0%;
}
#s4:checked ~ .circle,
#s4:checked ~ div div .indicator {
  left: 40%;
}
#s5:checked ~ .circle,
#s5:checked ~ div div .indicator {
  left: 80%;
}

@media (min-width: 639px) {
  .box {
    display: none;
  }
}
@media (max-width: 639px) {
  label > span {
    font-size: medium;
  }
  label > i {
    font-size: 21px;
  }
  .phone_bottom {
    padding-left: 15px;
  }
}
@media (max-width: 455px) {
  #s1:checked ~ [for="s1"] > span,
  #s2:checked ~ [for="s2"] > span,
  #s3:checked ~ [for="s3"] > span,
  #s4:checked ~ [for="s4"] > span,
  #s5:checked ~ [for="s5"] > span {
  font-size: medium;
}
}
@media (max-width: 390px) {
  #s1:checked ~ [for="s1"] > span,
  #s2:checked ~ [for="s2"] > span,
  #s3:checked ~ [for="s3"] > span,
  #s4:checked ~ [for="s4"] > span,
  #s5:checked ~ [for="s5"] > span {
  font-size: small;
}
label > span {
  font-size: small;
}
.bookmarked > span {
  padding-left: 2px;
}
}
