@import '../../../styles.scss';


.active {
  outline: none;
  border-top: solid 3px $secondary_color;
  color: $secondary_color;
}

#item {
  background-color: $nav_color;
}

@media (min-width: 639px) {
  #item {
    display: none;
  }
}
