<div class="box w-full z-40 justify-center items-center fixed bottom-1  h-14 flex overflow-x-auto">

    <div class="phone w-full h-px z-40 m-auto flex items-end fixed justify-center bottom-0">
        <input class="none hidden" type="radio" name="s" id="s1">
        <input class="none hidden" type="radio" name="s" id="s2">
        <input class="none hidden" type="radio" name="s" id="s3" checked="checked">
        <input class="none hidden" type="radio" name="s" id="s4">
        <input class="none hidden" type="radio" name="s" id="s5">

        <label
            class="bookmarked cursor-pointer flex w-2/6 h-16 relative items-center justify-center before:content-[''] before:absolute"
            for="s1" routerLink="/bookmarked"> <i
                class="material-icons absolute text-2xl text-white m-auto z-40 bottom-[23px]">bookmark</i>
            <span class="absolute text-sm text-white m-auto z-40 bottom-2 duration-300 ">Bookmark</span></label>
        <label
            class="cursor-pointer flex w-2/6 h-16 relative items-center justify-center before:content-[''] before:absolute"
            for="s2" routerLink="/manga-genres"> <i
                class="material-icons absolute text-2xl text-white m-auto z-40 bottom-[23px]">category</i>
            <span class="absolute text-sm text-white m-auto z-40 bottom-2 duration-300">Generi</span></label>
        <label
            class="cursor-pointer flex w-2/6 h-16 relative items-center justify-center before:content-[''] before:absolute"
            for="s3" routerLink="/home"><i
                class="material-icons absolute text-2xl text-white m-auto z-40 bottom-[23px]">home</i>
            <span class="absolute text-sm text-white m-auto z-40 bottom-2 duration-300">Home</span></label>
        <label
            class="cursor-pointer flex w-2/6 h-16 relative items-center justify-center before:content-[''] before:absolute"
            for="s4"><i class="material-icons absolute text-2xl text-white m-auto z-40 bottom-[23px]">inventory_2</i>
            <span class="absolute text-sm text-white m-auto z-40 bottom-2 duration-300">Archivio</span></label>
        <label
            class="cursor-pointer flex w-2/6 h-16 relative items-center justify-center before:content-[''] before:absolute"
            for="s5"> <i class="material-icons absolute text-2xl text-white m-auto z-40 bottom-[23px]">person</i>
            <span class="absolute text-sm text-white m-auto z-40 bottom-2 duration-300">Profilo</span></label>

        <div class="circle absolute w-[70px] h-[67px] bg-[#533eaf] bottom-9 z-[2]  left-0 right-0 m-auto duration-100">
        </div>

        <div class="phone_content w-full overflow-hidden absolute">
            <div class="phone_bottom w-full h-16 bg-[#483b85] flex justify-center ">
                <span
                    class="indicator w-[75px] h-[75px] rounded-full absolute left-[2px] right-0 top-[-35px] m-auto duration-80 "></span>
            </div>
        </div>

    </div>

</div>