<nav id="item" style="background-color: #151F2E" class="fixed bottom-0 w-100 h-14 flex overflow-x-auto" (click)="onButtonGroupClick($event)">
    <i routerLink="bookmarked" class="material-icons flex items-center justify-center flex-grow-1 min-w-50 overflow-hidden whitespace-nowrap  text-gray-300 ">bookmark</i>
    <i class="material-icons text-gray-300 flex items-center justify-center flex-grow-1 min-w-50 overflow-hidden whitespace-nowrap ">category</i>
    <i routerLink="home" class="material-icons text-gray-300 flex items-center justify-center flex-grow-1 min-w-50 overflow-hidden whitespace-nowrap ">home</i>
    <i class="material-icons text-gray-300 flex items-center justify-center flex-grow-1 min-w-50 overflow-hidden whitespace-nowrap ">inventory_2</i>
    <i class="material-icons text-gray-300 flex items-center justify-center flex-grow-1 min-w-50 overflow-hidden whitespace-nowrap ">person</i>
</nav>