@import "../../../styles.scss";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: background 0.4s ease-in;
  background-color: #c394f8;
  background: black;

  &.blue {
    background-color: #428aa6;
  }
}

input[type="radio"] {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#item-1:checked ~ .cards #news-3,
#item-2:checked ~ .cards #news-1,
#item-3:checked ~ .cards #news-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #news-2,
#item-2:checked ~ .cards #news-3,
#item-3:checked ~ .cards #news-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #news-1,
#item-2:checked ~ .cards #news-2,
#item-3:checked ~ .cards #news-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

  img {
    box-shadow: 0px 0px 15px 0px $secondary_color;
    // box-shadow: 0px 4px 5px 0px rgba(81, 81, 81, 0.47);
  }
}
#manga-container::-webkit-scrollbar {
  display: none;
}
.manga-container2::-webkit-scrollbar {
  display: none;
}
.manga-container {
  background: repeating-conic-gradient(from 45deg, rgba(0, 0, 0, 0.05) 0% 25%, $body_color 0% 50%);
  background-size: 40px 40px;
  background-color: $body_color;
}
.manga-container::-webkit-scrollbar {
  display: none;
}
.button-left,
.button-right {
  background-color: $secondary_color;
  color: white;
  background: rgba(0, 0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, $secondary_color 100%);
  // background:  $secondary_color;
  // background: radial-gradient(circle, $secondary_color 10%, rgba(0, 0, 0, 0) 80%);
  box-shadow: 0px 0px 5px 0px $secondary_color;
}
.chips {
  background-color: $secondary_color;
  padding: 0 6px;
  height: 16px;
  margin-left: 6px;
  line-height: 16.5px;
  border-radius: 25px;
}
.chips span {
  color: $body_color;
  cursor: pointer;
  font-size: 10px;
}
.new-container {
  background: $nav_color;
}
.new-box span {
  display: flex;
}

@media (max-width: 1158px) {
  .new-container {
    width: 350px !important;
    height: 150px !important;
    margin-right: 10px;
    .new-image {
      width: 120px !important;
    }
    .new-description {
      width: 130px !important;
    }
    .new,
    .new2 {
      height: 20px;
    }
  }
  .container {
    width: 45% !important;
    height: 340px;
    margin: 0 30% 0 25% !important;
  }
}
@media (max-width: 1024px) {
  .container {
    height: 320px;
  }
}
@media (max-width: 848px) {
  .new-container {
    width: 270px !important;
    height: 125px !important;
    margin-right: 10px;
    .new-description {
      margin-top: 7px !important;
      width: 130px !important;
      .new-image {
        width: 120px !important;
      }
      .end {
        display: none;
      }
    }
  }
  .container {
    width: 47% !important;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .gallery-cell {
    width: 55%;
    height: 200px;
  }
  .container {
    width: 55% !important;
  }
  .box {
    margin: 0 5% 0 5% !important;
  }
  .container-arrows {
    margin-bottom: 0px !important;
    display: none !important;
  }
}
@media (max-width: 639px) {
  .container {
    display: none !important;
  }
  #manga-container {
    height: 95%;
  }
  .trends {
    margin-top: 0px;
  }
  .gallery {
    display: none;
  }
  .trends-three {
    margin-top: 90px !important;
  }
  .new-container {
    width: 400px !important;
    height: 150px !important;
    margin-right: 0px !important;
    .new-description {
      margin-top: 14px !important;
      width: 270px !important;
      .new-image {
        width: 180px !important;
      }
    }
  }
  .manga-container {
    padding-bottom: 45px;
  }
  .button-left,
  .button-right {
    display: none !important;
  }
}
@media (max-width: 469px) {
  .manga-container2 {
    padding-left: 5% !important;
    padding-top: 2%;
  }
  .box {
    margin: 0px !important;
  }
  .new-box {
    justify-content: center !important;
    .new-container {
      width: 310px !important;
      height: 140px !important;
      .new-image {
        width: 120px !important;
      }
      .new-description {
        width: 130px !important;
      }
    }
    .new,
    .new2 {
      height: 25px;
    }
  }
  .trends,
  .trends-three {
    margin-left: 5%;
  }
}
@media (max-width:425px) {
  .trends {
    margin-top: 0px !important;
  }
  .manga-container2 {
    padding-bottom: 15px !important;
  }
}





@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin cardsOpen() {
    &::before {
      background: rgba(0, 0, 0, 0.6);
    }
    .book-container {
      .content {
        opacity: 1;

        transform: translateY(20px);
      }
    }

    .informations-container {      
      transform: translateY(40px);
      .more-information {
        opacity: 1;
      }
    }
}



h2{
  display: -webkit-box;
  -webkit-box-orient: vertical;       
}

.ul{
   
  
  .booking-card{
    position: relative;
    display: flex;
    flex: 0 0 220px;
    flex-direction: column;
    margin: 20px;
    width:100px ;
    margin-bottom: 30px;
    @include radius(10px);
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    transition: .3s;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: .3s;
    }
    
    .book-container {
      height: 40px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        
        transform: translateY(-200px);
        
        transition: .3s;
        
        .btn {      
          border: 3px solid white;
          padding: 10px 15px;
          
          background: none;
          
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.3em;
          color: white;
          
          cursor: pointer;
          
          transition: .3s;
          
          &:hover {
            background: #9b84ff;
            
            border: 0px solid white;
            
            color: white;
          }
        }
      }
    }
    
    .informations-container{      
      flex: 1 0 auto;
      height: 280px;
      padding: 20px;
      
      background: #493b85e7;
      
      transform: translateY(150px);
      
      transition: .3s;
      
      .title {
        position: relative;
        
        padding-bottom: 10px;
        margin-bottom: 10px;
        
        font-weight: bold;
        font-size: 1.2em;
        
        
        &::after{
          content: '';
          
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          
          height: 3px;
          width: 50px;
          
          margin: auto;
          
          background: white;
        }
      }
     
      
      .more-information {
        margin-top: 18px;
        opacity: 0;
        
        transition: .3s;
          
        
        .disclaimer {
          

          font-size: 0.8em;
          color: white;
          display: -webkit-box;
          max-width: 200px;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
    
    &:hover {
      @include cardsOpen();
    }
  }
}









/*PEN STYLES*/



$color_white: $nav_color;
$color_prime: $secondary_color;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.blog-card {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  margin-right: 3%;
  margin-left: 8% ;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
    a {
      text-decoration: dotted underline
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        font-family: FontAwesome;
        content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    width: 500px;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1{
      font-family: Poppins, sans-serif;
      font: bold;
      color: white;
      line-height: 1.2;
      margin: 0;
      font-size: 1.7rem;
      display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
    }
    .read-more {
      text-align: right;
      a {
        color: $secondary_color;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }


  @media (min-width: 1163px) {
    flex-direction: row;
    max-width: 500px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $nav_color;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)

        }
      
      }
      .details {
        padding-left: 25px;
      }
    }
  }
  @media (max-width: 1163px) {
    flex-direction: row;
    width: 600px;
    height: 210px ;
    margin-left: 2%;
    .meta {
      flex-basis: 40%;
      height: 300px ;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $nav_color;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)

        }
      
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}
@media (max-width: 1163px) {
  .boxes {
    justify-content: unset;
  }
  
}
@media (max-width: 700px) {
  .boxes {
    display: none;
  }
  
}
@media (min-width: 700px) {
  #container2 {
    display: none;
  }
}