@import '../../../styles.scss';

.video::-webkit-scrollbar {
    display: none;
}
#manga-container {
  background-color: $body_color;
  width:100%; 
  height: 100%;
}
.mangas {
  width:200px; 
  height:285px;
}
.manga {
  width:100%;
  height:235px;
}
.descriptions {
  width: 180px;
  color: white;
}
.chips {
  background-color: $secondary_color;
  padding: 0 6px;
  height: 16px;
  margin-left: 6px;
  line-height: 13px;
  border-radius: 25px;
}
.chips span {
  color: $body_color;
  cursor: pointer;
  font-size: 12px;
}
@media (max-width:639px) {
  .mangas {
    width: 145px;
  }
  .manga {
    height: 205px !important;
  }
  .descriptions {
    width: 145px;
  }
  #manga-container {
    height: 95%;
  }
  .trends-two {
    margin-top: 0px;
  }
}

