$large: 1400px;

.mat-elevation-z4 {
  height: 500px;
  max-height: 500px;
  margin-top: 20%;
}

.mat-card-image {
  @media screen and (max-width: $large) {
    height: 390px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  @media screen and (min-width: $large) {
    height: 390px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
}

.content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}