<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let manga of mangas">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ manga.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ manga.preview }}">
        <mat-card-actions>
          <button mat-button routerLink="/manga/{{ manga.id }}">Leggi</button>
          <button mat-button (click)="bookmarkManga(manga)">
            <i *ngIf="!manga.bookmarked; else ifBookmarked" class="fa fa-bookmark-o fa-lg"></i>
            <ng-template #ifBookmarked>
              <i class="fa fa-bookmark fa-lg"></i>
            </ng-template>
          </button> 
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!--<mdb-carousel [controls]="true">
  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/041.jpg"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/042.jpg"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="https://mdbcdn.b-cdn.net/img/new/slides/043.jpg"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
</mdb-carousel>-->