<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div style="padding-top: 65px;" class="container-description w-full h-full font-sans text-white overflow-y-scroll ">
    <!--su mobile togliere flex-->
    <div>
        <div>
            <div class="box3 h-full" style="opacity: 0.2;"
                [ngStyle]="{'background-image':'url(' + manga.preview + ')'}">
            </div>
        </div>
    </div>
    <div class="overflow-hidden " style="padding-bottom: 20px;">
        <div class="box2 flex " style="opacity: .9;">
            <div style="opacity: .9;margin-left: 15px;" class="information-left flex ">
                <div>
                    <div>
                        <div style="width: 250px;height: 375px;display: flex;">
                            <img style="width:100%;height: 100%;border-radius: 10px; opacity: 1;"
                                src="{{ manga.preview }}">
                        </div>
                        <div (click)="bookmark()" style="border-radius: 5px;width: 250px;height: 43px;cursor: pointer;"
                            class="bookmarked flex mt-3" [@animation1]="mark">
                            <div style="width: 80%;justify-content: center;cursor: pointer;" class="items-center flex ">
                                <span [@animation2]="mark" id="book-written"
                                    style="margin-left: 35px;">Bookmarked</span>
                            </div>
                            <div style="width: 20%;justify-content: center;cursor: pointer;" class="items-center flex ">
                                <i [@animation3]="mark" style="font-size: 30px;"
                                    class="material-icons book">bookmark</i>
                                <i [@animation4]="mark" style="font-size: 30px;"
                                    class="material-icons book2">bookmark_added</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding-left: 5px;padding-bottom: 15px;" class="information-right flex w-full ml-3">
                <div>
                    <div>
                        <div style="height: 100px;" class="title w-full">
                            <div class="gradient w-full flex">
                                <span style="font-size:30px;flex-wrap: wrap;">{{ manga.title }}</span>
                            </div>
                        </div>
                        <div class="ml-3">
                            <span style="font-size:25px;">Trama</span>
                        </div>
                        <div class="hr" style="width: 90%;margin: 10px 0 10px 0;">
                            <hr>
                        </div>
                        <div class="summary w-full ml-3">
                            <span style="font-size:15px;">{{ manga.trama }}</span>
                        </div>

                    </div>
                </div>
            </div><br>
        </div>
        <div class="wrap1 flex">
            <div class="information-bottom flex w-full h-full" style="padding-top: 55px;margin-left: 15px;">
                <div class="wrap2">
                    <div>
                        <div>
                            <div class="info-box " style="width: 250px; height: 100%; border-radius: 10px;">
                                <div class="type"><b>Autore:</b><br><span style="word-wrap: break-word;" class="text-gray-400" >{{manga.author}}</span> </div>
                                <div class="type"><b>Artista:</b><br><span style="word-wrap: break-word;" class="text-gray-400">{{manga.artist}} </span></div>
                                <div class="type"><b>Generi:</b><br><span style="word-wrap: break-word;" class="text-gray-400">{{manga.genres}} </span></div>
                                <div class="type"><b>Capitoli:</b><br><span class="text-gray-400">{{manga.chapter_cont}}</span></div>
                                <div class="type"><b>Stato:</b><br> <span class="text-gray-400">{{manga.status}}</span> </div>
                                <div class="type"><b>Data inizio:</b><br> <span class="text-gray-400">{{manga.year}}</span></div>
                                <div class="type"><b>Alternativi:</b><br><span style="word-wrap: break-word;" class="text-gray-400">{{manga.alt_title}} </span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chapter" style="border-radius: 10px;margin:0 5% 0 5%;width: 100%;height: 500px;">
                    <div>
                        <div class="ml-3">
                            <span style="font-size:25px;">Capitoli</span>
                        </div>
                        <div class="hr" style="width: 100%;margin: 10px 0 10px 0;">
                            <hr>
                        </div>
                    </div>
                    <div style="overflow-y: auto;height: 410px;">
                        <div class="chapter-wrap"
                            style="padding:0 4% 0 4%;flex-wrap: wrap;justify-content: space-evenly;">
                            <div class="chapter-box flex" *ngFor="let in of counter(manga.chapter_cont);let i = index">
                                <span>Capitolo {{ i+1 }}</span>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>