@import "../../../styles.scss";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

.box2 {
  width: 100% !important;
  height: 100% !important;
  background: $body_color;
}
.material-icons.book2 {
  display: none;
  color: white;
}
