@import "../../../styles.scss";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
.container-description::-webkit-scrollbar {
  display: none;
}
.box3{
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-position: center 25%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  margin-bottom: -500px;
  filter: blur(5px)
}
.box2 {
  padding-top: 30px;
}
.container-description {
  background: $body_color;
}
.material-icons.book2 {
  display: none;
  color: white;
}
.bookmarked {
  background-color: $body_color;
}
.gradient{
  display: flex;
  align-items: center;
  height: 70px;
  text-align: left;
  padding-left: 10px;
  background-image: linear-gradient(to right, #6521a5, rgba(0,0,0,0));
}
.summary {
  width: 80%;
}
  @media (max-width:768px) {
    .box2 {
      display: unset;
      .information-left {
       justify-content: center;
       margin: 0px;
       padding-top: 30px;
      }
    }
    .information-right {
      margin-top: 40px !important;
      margin-left: 0px !important;
    }
    .title {
      padding-left: 5px !important;
      height: 70px !important;
    }
    .gradient {
      background-image:none;
    }
    .summary {
      width: 96%;
    } 
    .hr {
      width: 100% !important;
    }
  }
  @media (max-width:639px) {
    .container-description {
      padding-bottom: 25px;
    }
  }

