<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="wrapper" style="margin-top: 64px;">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio">
  <input class="radio" id="three" name="group" type="radio">
  <input class="radio" id="four" name="group" type="radio">
  <input class="radio" id="five" name="group" type="radio">
  <input class="radio" id="six" name="group" type="radio">
  <input class="radio" id="seven" name="group" type="radio">
  <input class="radio" id="eight" name="group" type="radio">
  <input class="radio" id="nine" name="group" type="radio">
  <input class="radio" id="ten" name="group" type="radio">
  <input class="radio" id="eleven" name="group" type="radio">
  <input class="radio" id="twelve" name="group" type="radio">
  <input class="radio" id="thirteen" name="group" type="radio">
  <input class="radio" id="fourteen" name="group" type="radio">
  <input class="radio" id="fifteen" name="group" type="radio">
  <input class="radio" id="sixteen" name="group" type="radio">
  <input class="radio" id="seventeen" name="group" type="radio">
  <input class="radio" id="eighteen" name="group" type="radio">
  <input class="radio" id="nineteen" name="group" type="radio">
  <input class="radio" id="twenty" name="group" type="radio">
  <input class="radio" id="twentyone" name="group" type="radio">
  <input class="radio" id="twentytwo" name="group" type="radio">
  <input class="radio" id="twentythree" name="group" type="radio">
  <input class="radio" id="twentyfour" name="group" type="radio">
  <input class="radio" id="twentyfive" name="group" type="radio">
  <input class="radio" id="twentysix" name="group" type="radio">
  <input class="radio" id="twentyseven" name="group" type="radio">
  <input class="radio" id="twentyeight" name="group" type="radio">
  <input class="radio" id="twentynine" name="group" type="radio">
  <input class="radio" id="thirty" name="group" type="radio">
  <input class="radio" id="thirtyone" name="group" type="radio">
  <input class="radio" id="thirtytwo" name="group" type="radio">
  <input class="radio" id="thirtythree" name="group" type="radio">
  <input class="radio" id="thirtyfour" name="group" type="radio">
  <input class="radio" id="thirtyfive" name="group" type="radio">
  <input class="radio" id="thirtysix" name="group" type="radio">
  <input class="radio" id="thirtyseven" name="group" type="radio">

  <div style="margin-bottom: -10px;background: transparent;height: 1px;" class="container-arrows flex z-20 relative">
    <div style="position: relative;width: 50%;">
      <button class="button-left" style="width: 30px;height: 40px;outline: none;display: unset;" (click)="scrollLeft()">
        <i class="material-icons text-3xl">chevron_left</i></button>
    </div>
    <div style="position: relative;width: 50%;justify-content: flex-end;display: flex;">
      <button class="button-right" style="width: 30px;height: 40px; outline: none;display: unset;"
        (click)="scrollRight()"><i class="material-icons text-3xl">chevron_right</i></button>
    </div>
  </div>

  <div id="container" class="tabs" *ngFor="let item of items.numbers">
    <label class="tab" id="{{ item + '-tab' }}" for="{{ item }}" *ngFor="let genre of items.genres"><span>{{ genre }}</span></label>
  </div>

  <div class="panels">
    <div *ngFor="let id of items.numbers">
      <div class="panel" id="{{ id + '-panel' }}">
        <div class="box" style="margin: 0 5% 0 5%">
          <div style="justify-content: space-around;margin-top: 70px;"
            class="new-box overflow-hidden  flex flex-row flex-wrap w-full rounded-lg">
            <div class="loop" *ngFor="let manga of mangaInfos;let i = index">
                <div style="width:480px;" class="new-container flex h-48 rounded-lg mb-5 ml-3 cursor-pointer"
                  routerLink="/manga/{{ manga.id }}">
                  <div class="new-manga w-6/12 h-full">
                    <img class="new-image h-full" style="width: 230px;" src="{{ manga.preview }}" />
                  </div>
                  <div class="padding-information w-full" style="padding: 0 1% 1.5% 3%;">
                    <div class="new-description mt-1 text-white" style="width: 284px;">
                      <h3 class="whitespace-nowrap overflow-ellipsis overflow-hidden">
                        {{ manga.title }}
                      </h3>
                      <div class="flex mt-1">
                        <span class="text-gray-400 text-sm">Score</span>
                        <div class="chips inline-block cursor-pointer" style="margin-top: 3px;">
                           <span> {{ manga.score}} </span> 
                        </div>
                      </div>
                      <div class="state flex" style="margin-top: 0.25rem;">
                        <span class="text-gray-400">Stato: </span>
                        <span>{{ manga.status}}</span>
                      </div>
                      <div class="trama flex text-white">
                        <span class="text-gray-400">Trama:</span>
                        {{ manga.trama }}
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>