@import "../../../styles.scss";


.container {
    background: repeating-conic-gradient(
      from 45deg,
      rgba(0, 0, 0, 0.05) 0% 25%,
      $body_color 0% 50%
    );
    background-size: 40px 40px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: $body_color;
  }