@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html, body { 
    height: 100%;
    width: auto !important;
    min-width: auto !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// $body_color: #1a0b22;
// $nav_color: #29152e;  // 1* palette
$body_color: #2d1942;
$nav_color: #4f2675;  // 2* palette
// $body_color: #1a0b22;
// $nav_color: #29152e;
$secondary_color: #9f0acc;
