<section class="waves relative w-full h-24 overflow-hidden">
    <div class="wave wave1 absolute inset-0 w-full h-24" style="background: url(https://i.ibb.co/ZHcbXnD/wave-1.png);background-size: 1000px 105px;"></div>
    <div class="wave wave2 absolute inset-0 w-full h-24" style="background: url(https://i.ibb.co/ZHcbXnD/wave-1.png);background-size: 1000px 105px;"></div>
    <div class="wave wave3 absolute inset-0 w-full h-24" style="background: url(https://i.ibb.co/ZHcbXnD/wave-1.png);background-size: 1000px 105px;"></div>
</section>
<section class="footer noselect pt-0 pb-11 inset-0 ">

    <div class="social text-center mb-6 text-white text-center">
        <a href="#" style="color: inherit;" class="text-2xl border-solid border-white border w-10 h-10 leading-9 inline-block text-center rounded-3xl ml-2 mr-2"><i class="fa fa-instagram mt-1.5" aria-hidden="true"></i></a>
        <a href="#" style="color: inherit;" class="text-2xl border-solid border-white border w-10 h-10 leading-9 inline-block text-center rounded-3xl ml-2 mr-2"><i class="fa fa-github mt-1.5" aria-hidden="true"></i></a>
        <a href="#" style="color: inherit;" class="text-2xl border-solid border-white border w-10 h-10 leading-9 inline-block text-center rounded-3xl ml-2 mr-2"><i class="fa fa-telegram mt-1.5" aria-hidden="true"></i></a>
        <a href="#" style="color: inherit;" class="text-2xl border-solid border-white border w-10 h-10 leading-9 inline-block text-center rounded-3xl ml-2 mr-2"><i class="fa fa-google mt-1.5" aria-hidden="true"></i></a>
    </div>
    <ul class="list mt-0 p-0 list-none text-lg mb-0  pr-4 pl-4 text-center">
        <li class="inline-block pr-4 pl-4">
            <a href="#" class="text-white no-underline ">Home</a>
        </li>
        <li class="inline-block pr-4 pl-4">
            <a href="#" class="text-white no-underline">Service</a>
        </li>
        <li class="inline-block pr-4 pl-4">
            <a href="#" class="text-white no-underline">About</a>
        </li>
        <li class="inline-block pr-4 pl-4">
            <a href="#" class="text-white no-underline">Terms</a>
        </li>
        <li class="inline-block pr-4 pl-4">
            <a href="#" class="text-white no-underline">Privacy Policy</a>
        </li>
    </ul>
    <p class="copyright mt-4 text-center text-gray-400">
        Copyright @ 2021 Manga Raven
    </p>
</section>