<section class="waves">
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
</section>
<section style="padding: 45px 0 ;bottom: 0;padding-top: 0 !important;" class="footer noselect">
 
    <div style="padding-top:15px;padding-bottom:  25px;color: #ffffff;" class="social text-center  ">
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
    </div>
    <ul class="list">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Service</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Terms</a>
        </li>
        <li>
            <a href="#">Privacy Policy</a>
        </li>
    </ul>
    <p class="copyright">
        Copyright @ 2021 Manga Raven
    </p>
</section>