<section style="padding-top: 30px; padding: 45px 0 ;" class="footer">
    <div style="padding-bottom:  25px;color: #ffffff;" class="social text-center  ">
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
    </div>
    <ul class="list">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Service</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Terms</a>
        </li>
        <li>
            <a href="#">Privacy Policy</a>
        </li>
    </ul>
    <p class="copyright">
        Copyright @ 2021 Manga Raven
    </p>
</section>
